/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #e57d7d;
$navbar-bg: #e57d7d;
$font-family: "Gill Sans", sans-serif;

// Code blocks
$code-block-bg-alpha: -.8;