/*-- scss:defaults --*/
// Base document colors
$body-bg: #faf8f2;
$body-color: #202725;
$link-color: #28766e;
$navbar-bg: #202725;
$navbar-fg: #faf8f2;
$navbar-hl: #d8b56f;
$font-family-sans-serif: "IBM Plex Mono", "SFMono-Regular", Consolas, "Liberation Mono", monospace;
$font-family-monospace: "IBM Plex Mono", "SFMono-Regular", Consolas, "Liberation Mono", monospace;
$headings-color: #17201e;
// Code blocks
$code-block-bg-alpha: -.8;
